{% extends '_layout.html' %}
{% load static %}

{% block content%}

<div class="jumbotron-jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"> Teachers jumbotron</h1>
        <p class="lead">Alanında Deneyimli ,aile ortamı sıcaklığını sınıflarında sunabilen, her öğrenciye görelik ilkesine uygun  öğrenci merkezli eğitim-öğretim ortamlarını yöneten ,disiplinler arası iletiim ve etkileşime özen gösteren
             teknolojiyi maxsimum düzeyde takip eden ve eğitim uygulamalarında kullanabilen gelecek ile gelişime odaklı genç dinamik eğitim kadrosu <strong> Nice Bilge Nesiller İçin...</strong> 

        </p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{%  static 'img/teachers/computer.jpg'%}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title"> Higt Life</div>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nulla, tempora tempore doloremque nobis officia.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 days ago</small>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/teachers/mat.jpg'%}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title"> Higt Life</div>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nulla, tempora tempore doloremque nobis officia.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 days ago</small>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/teachers/din.jpg'%}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title"> Higt Life</div>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nulla, tempora tempore doloremque nobis officia.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 days ago</small>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>


{% endblock %}